<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>LOBO 01</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>lobo01</param-value>
	</context-param>

	<!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext 
		instead of the default XmlWebApplicationContext -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
	          org.springframework.web.context.support.AnnotationConfigWebApplicationContext
	      </param-value>
	</context-param>

	<!-- Configuration locations must consist of one or more comma- or space-delimited 
		fully-qualified @Configuration classes. Fully-qualified packages may also 
		be specified for component-scanning -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
	      	com.iceti.lobo.config
      	  </param-value>
	</context-param>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext 
			instead of the default XmlWebApplicationContext -->
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
				org.springframework.web.context.support.AnnotationConfigWebApplicationContext
            </param-value>
		</init-param>
		<!-- Configuration for Spring Dispatcher Servlet (web-specific beans, such 
			as controllers, REST config, URL mappers, etc): Configuration locations must 
			consist of one or more comma- or space-delimited fully-qualified @Configuration 
			classes. Fully-qualified packages may also be specified for component-scanning -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				com.iceti.lobo.config
            </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring MVC -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>

	<!-- Error Codes-->
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error/error404.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/error/stackTraceManager.jsp</location>
	</error-page>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
